@page
@model DetailsModel

@{
    ViewData["Title"] = "CustomerDetails";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>CustomerDetails</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerUser.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerUser.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerUser.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerUser.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerUser.StreetAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerUser.StreetAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerUser.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerUser.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerUser.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerUser.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerUser.KvK)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerUser.KvK)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerUser.BTW)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerUser.BTW)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerUser.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerUser.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerUser.EmailConfirmed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerUser.EmailConfirmed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerUser.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerUser.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerUser.PhoneNumberConfirmed)
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerUser.PhoneNumberConfirmed)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
    <a asp-page="./Edit" asp-route-id="@Model.CustomerUser.Email">Edit</a> 
    }
    <a asp-page="./Index">Back to List</a>
</div>
